<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <h1>user form</h1>
    <form method="POST">
        <label for="phone">phone</label>
    <input type="text" id="phone" name="phone">
    <label for="password">password</label>
    <input type="password" id="password" name="password">
    <label for="email">email</label>
    <input type="text" id="email" name="email">
    <label for="id">id</label>
    <input type="text" id="id" name="id">
    <input type="submit" value="sumbit">
    </form>
</body>
</html>